<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qk">

    <!-- 自定义权限 -->
    <permission android:name="android.permission.TEST_BROADCAST" />
    <!-- 使用TEST_BROADCAST权限 -->
    <uses-permission android:name="android.permission.TEST_BROADCAST" />
    <!-- Required -->
    <uses-permission android:name="您应用的包名.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 授予该程序使用摄像头的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 百度地图权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 设置nof权限 -->
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".GApp"
        android:allowBackup="true"
        android:icon="@mipmap/qingkalogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.qk.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!-- 登陆页面 -->
        <activity android:name=".activity.sys.LoginActivity" />
        <!-- 加载页面 -->
        <activity
            android:name=".activity.sys.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主页面 -->
        <activity android:name=".activity.IndexActivity" />
        <!-- 设置页面 -->
        <activity
            android:name=".activity.sys.SetActivity"
            android:label="@string/title_activity_set" />
        <!-- 打开照相机页面 -->
        <activity android:name=".activity.CameraActivity" />
        <!-- 从相册选择图片并且上传页面 -->
        <activity android:name=".activity.PhotoAlbumActivity" />
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />
        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.qk" />
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="573b3e9315bb78ad7af4c2d3" />
        <!-- </>值来自开发者平台取得的AppKey -->
        <activity android:name=".activity.StockInfoActivity" />
        <activity
            android:name=".activity.NfcActivity"
            android:launchMode="singleTop" />
        <!-- 二维码页面 -->
        <activity android:name=".activity.ZxingActivity" />
        <!-- nfc测试 -->
        <activity
            android:name=".nfc.NFC"
            android:launchMode="singleTop">

            <!-- 设置nfc种类 -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- nfc设置 -->
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech" />
        </activity>
        <activity android:name=".activity.SelectImgActivity" />
        <activity android:name=".activity.PhotoActivity" />
        <activity android:name=".activity.SqliteActivity" />
        <activity android:name=".activity.QmuiActivity" />
        <activity android:name=".activity.xsgl.OrderInfoActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.sys.UserActivity" />
        <activity android:name=".activity.sys.ForgetChangePasswordActivity" />
        <activity android:name=".activity.sys.ChangePasswordActivity" />
        <activity android:name=".activity.sys.ForgetPasswordActivity" />
        <activity android:name=".activity.ListGridActivity" />
        <activity android:name=".girdview.NextActivity" />
        <activity android:name=".activity.sys.AboutUsActivity"></activity>
        <activity android:name=".activity.CashActivity"></activity>
        <activity android:name=".activity.PdfActivity">

        </activity>
    </application>

</manifest>